/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

body {
    background-color: #e8e8e8;
}


/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

body {
    /* padding: 30px; */
    height: 1700px;
    width: 1438px;
}

.block {
    /* border: 5px solid #000; */
    margin: 125px 306px 0px 290px;
    height: 1471px;
}

.text {
    font-size: 15px;
    line-height: 33px;
    margin: 0px 0px 0px 0px;
}

.text:hover {
    color: chocolate;
}

.m1 {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.m2 {
    font-size: 20px;
}

.gal {
    width: 25px;
    fill: #80b7b3;
}


/* .m1:hover,
.gal:hover {
    color: #d55a5a;
    fill: #d55a5a;
} */

.m1:hover {
    color: #d55a5a;
}

.m1:hover .gal {
    fill: #d55a5a;
}

.block2 {
    display: flex;
    justify-content: space-between;
}

.knopka {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: 120px 30px 30px 30px;
    padding: 15px 35px 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #80b7b3;
    /* border: 1px solid #000; */
    border-radius: 25px;
    text-transform: uppercase;
}

.svg {
    margin: 0px 0px 0px 10px;
    width: 20px;
}

.knopka:hover {
    background: #3a5856;
}

.knopka:focus {
    background: #818181;
}

.polia{
    font-family: 'Times New Roman', Times, serif;
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-around;
    background: #d6d5d5;
    padding: 60px;
    border-radius: 15px;
}

.pole {

    /* justify-content: center;
    align-items: center; */
    border: 1px solid gray;
    padding: 10px 50px;
}
.pole:hover{
    border: 2px solid gray;
}
.pole:focus{
    box-shadow: 0 0 15px 10px #bed7e0;
    border: 1px solid #7fbed5;
}
